body{
    background:rgba(0, 0, 0, 0.05)!important;
}

.row {
  position: absolute;
  left: 0;
  width: 100%;
  height: 25%;
}

.column {
  background:white;
  position: absolute;
  top: 0;
  height: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  cursor: pointer;

  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
}

.card {
    width: 20%;
    font-size: 40px;
}

.menu {
  width: 28%;
  font-size: 20px;
}

.emoji {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@media (max-width: 1000px) {
  .card {
      font-size: 20px;
  }
  
  .menu {
      font-size: 12px;
  }
}

@media (max-width: 500px) {
  .card {
      font-size: 10px;
  }
  
  .menu {
      font-size: 10px;
  }
}

.green {
  color:#ADD8E6;
}

.orange {
  color:orange;
} 

.pink {
   color:#FF69B4;
}

.solid {
    border: 7px solid rgba(255, 0, 0, 0.3);
}

.dotted {
    border: 7px dotted rgba(255, 0, 0, 0.3);
}

.double {
    border: 10px double rgba(255, 0, 0, 0.3);
}

.selected {
      box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.3);
}
    
.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

.bounce {
    animation: bounce 1s linear;
}

@keyframes bounce {
    0%{-webkit-transform:none;transform:none;}
    10%{
        -webkit-transform:translateY(15%);
        transform:translateY(15%);
    }
    25%{
        -webkit-transform:translateY(-12%);
        transform:translateY(-12%);
    }
    45%{
        -webkit-transform:translateY(10%);
        transform:translateY(10%);
    }
    70%{
        -webkit-transform:translateY(-8%);
        transform:translateY(-8%);
    }
    95%{
        -webkit-transform:translateY(5%);
        transform:translateY(5%);
    }
    100%{-webkit-transform:none;transform:none;}
}

.shake {
    animation: shake 1s linear;
}

@keyframes shake {
    0%{-webkit-transform:none;transform:none;}
    20%{
        -webkit-transform:rotate(5deg);
        transform:rotate(5deg);
    }
    40%{
        -webkit-transform:rotate(-5deg);
        transform:rotate(-5deg);
    }
    60%{
        -webkit-transform:rotate(5deg);
        transform:rotate(5deg);
    }
    80%{
        -webkit-transform:rotate(-5deg);
        transform:rotate(-5deg);
    }

    100%{-webkit-transform:none;transform:none;}
}

td {
  padding:0 5px 0 5px;
}

.currentPlayer {
  color:  rgba(0, 0, 255, 0.3);  
}

.flipped {
  animation: flip 0.5s linear;
  transform: rotateX(180deg);
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

.help-tip {
	position: absolute;
  bottom:5px;
  left: 5px;
  z-index:10;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 42px;
	cursor: default;
}
.help-tip:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}

.hideArea {
    display: none;
}