<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Bunches</title>
  <meta name="description" content="TicTacToe game">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->
  <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">

  <!-- build:[href] http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link crossorigin="anonymous" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->

  <!-- The crossorigin attribute controls, for scripts that are obtained from other origins, whether error information will be exposed. -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:[src] http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->

  <!-- build:[src] http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

  <!-- build:remove -->
  <!-- https://github.com/philipwalton/html-inspector#getting-started -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
  <div id="e2e_test_open_rules_modal" class="help-tip" ng-click="game.isHelpModalShown = true" aria-hidden="true"></div>
    
  <div class="overlayModal" ng-click="game.clickedOnModal($event)"
      ng-class="{zeroOpacity: !game.isHelpModalShown, oneOpacity: game.isHelpModalShown}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="game.isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="e2e_test_rules_title" class="modal-title">
            {{ 'RULES_OF_BUNCHES' | translate }}
          </h4>
        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide1_text">
                    {{ 'RULES_SLIDE1' | translate }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide1.png" alt="Help slide 1" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide2_text">
                  {{ 'RULES_SLIDE2' | translate }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide2.png" alt="Help slide 2" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="game.isHelpModalShown = false">
            {{ 'CLOSE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="gameArea">
    <div class="row">
        <div class="column menu" style="left:1%;">
            <div id="e2e_test_player_1_score" class="score" ng-class="{currentPlayer: game.isCurrentPlayerIndex(0)}">Player 1 Score: {{game.player1Score}}</div>
            <div id="e2e_test_player_2_score" class="score" ng-class="{currentPlayer: game.isCurrentPlayerIndex(1)}">Player 2 Score: {{game.player2Score}}</div>
        </div>
        <div class="column menu" style="left:33%;" ng-class="{grow: game.shouldHintCardIndex(-1)}">
            <div id="e2e_test_pass_move" class="pass-text" ng-click="game.passMove()" ng-class="{hideArea: !game.roundStarted || game.gameIsOver()}">I cannot find a Bunch</div>
            <div id="e2e_test_start" class="start-text" ng-click="game.startClicked()" ng-class="{hideArea: game.roundStarted || game.gameIsOver() || !game.isCurrentPlayerIndex(0)}">Start: Player 1</div>
            <div id="e2e_test_start" class="start-text" ng-click="game.startClicked()" ng-class="{hideArea: game.roundStarted || game.gameIsOver() || !game.isCurrentPlayerIndex(1)}">Start: Player 2</div>
            <div id="e2e_test_player_1_wins" class="winner-text" ng-class="{hideArea: !game.isWinner(1)}">Player 1 wins!</div>
            <div id="e2e_test_player_2_wins" class="winner-text" ng-class="{hideArea: !game.isWinner(2)}">Player 2 wins!</div>
            <div id="e2e_test_player_2_wins" class="winner-text" ng-class="{hideArea: !game.isWinner(0)}">Tie</div>
        </div>
        <div class="column menu" style="left:66%;" ng-if="game.gameIsOver()">
              <div id="e2e_test_round_1_cards" class="cards-played" ng-click="game.resultRoundClicked(1)">Round 1</div>
              <div id="e2e_test_round_2_cards" class="cards-played" ng-click="game.resultRoundClicked(2)">Round 2</div>
        </div>   
       <div class="column menu" style="left:66%;" ng-if="!game.gameIsOver()">
              <div id="e2e_test_seconds" class="seconds-left">Bonus Points: {{30 - game.seconds > 0 ? 30 - game.seconds : 0}}</div>
        </div>     
    </div>
    <div ng-repeat="row in [0, 1, 2, 3]" class="row" style="top:{{row * 20 + 20}}%" ng-class="{hideArea: game.showResults || !game.roundStarted}">
        <div ng-repeat="col in [0, 1, 2, 3]" class="column card" style="left:{{col * 25}}%;"
            ng-class="{
                grow: game.shouldHintCardIndex(row * 4 + col),
                green: game.isGreen(row * 4 + col),
                pink: game.isPink(row * 4 + col),
                orange: game.isOrange(row * 4 + col),
                solid: game.isSolid(row * 4 + col),
                dotted: game.isDotted(row * 4 + col),
                double: game.isDouble(row * 4 + col),
                selected: game.cards.indexOf(row * 4 + col) != -1,
                flipped: game.shouldFlip(row * 4 + col),
                shake: game.shouldShakeCard(row * 4 + col)
                }"
            ng-click="game.cardClicked(row * 4 + col)"
            id="{{'e2e_test_div_' + row * 4 + col}}">
          <div class='emoji' ng-class="{bounce: game.shouldBounceEmoji(row * 4 + col), flipped: game.shouldFlip(row * 4 + col)}">{{game.getEmoji(row * 4 + col)}}</div>
        </div>
    </div>

     <div ng-repeat="row in [0, 1]" class="row" style="top:{{row * 20 + 20}}%" ng-class="{hideArea: !game.showResults}">
        <div class="column card" >Player {{row+1}}:</div>
        <div ng-repeat="col in [0, 1, 2]" class="column card" style="left:{{col * 25 + 25}}%;"
            ng-class="{
                green: game.resultIsGreen(row, col),
                pink: game.resultIsPink(row, col),
                orange: game.resultIsOrange(row, col),
                solid: game.resultIsSolid(row, col),
                dotted: game.resultIsDotted(row, col),
                double: game.resultIsDouble(row, col),
                }"
            id="{{'e2e_test_result_div_' + row + '_' + col}}">
          <div class='emoji'>{{game.getResultEmoji(row, col)}}</div>
        </div>
    </div>
  </div>
  
  
</body>
</html>
